:root {
   --text_purple: #6856f0;
   --text_one: #2d2b39;
   --text_two: #8a88a4;
   --text_three: #a0a2b2;
   --text_four: #706585 ;
   --text_five: #e6e5f0 ;
   --text_orange: #f1c265;
   --text_blue: #5bc4f1;
   --background_color: #f6f5fb;

   scroll-behavior: smooth;
}

header .container {
   background-color: var(--background_color);
   text-align: center;
   padding: 6% 0;
   border-radius: 30px;
   margin-top: 3%;
}

header h1 {
   color: var(--text_four);
   font-size: 2.7rem;
   font-weight: 400;
}

.dynamic {
   margin-top: 9%;
}

.dynamic .right {
   padding-top: 3%;
}

.dynamic .button_style{
   text-align: start!important;
}

.dynamic button:first-child{
   background-color: var(--text_purple);
   color: white;
   margin-inline-end: 1.5%;
}

.dynamic button:last-child{
   width: 200px;
}